<header class="header" role="banner">
  <nav class="navbar">
    <div class="navbar-brand">
      <div class="navbar-item">
         <img src="{{uiRootPath}}/images/mso4sc-2.png" style="height:40px;margin:auto; margin-right:5px"></img>
         {{#each site.components}} {{#if (eq 'docs' ./name)}} {{#each ./versions}} {{#if (eq this ../latestVersion)}}
           <a href="{{{./url}}}">MSO4SC documentation</a>
         {{/if}} {{/each}} {{/if}} {{/each}}            
      </div>
      <button class="navbar-burger" data-target="topbar-nav">
        <span></span>
        <span></span>
        <span></span>
      </button>
    </div>
    <div id="topbar-nav" class="navbar-menu">
      <div class="navbar-end">
        <div class="navbar-item has-dropdown is-hoverable">
          <div class="navbar-dropdown">
            <div class="navbar-item"><strong>Main</strong></div>

            <!-- this code allow to manage ordering of navbar item -->
            {{#each site.components}} {{#if (eq 'user' ./name)}} {{#each ./versions}} {{#if (eq this ../latestVersion)}}
              <a class="navbar-item" href="{{{./url}}}"> {{{./title}}} </a>
            {{/if}} {{/each}} {{/if}} {{/each}}            

            {{#each site.components}} {{#if (eq 'dev' ./name)}} {{#each ./versions}} {{#if (eq this ../latestVersion)}}
              <a class="navbar-item" href="{{{./url}}}"> {{{./title}}} </a>
            {{/if}} {{/each}} {{/if}} {{/each}}            

            {{#each site.components}} {{#if (eq 'toolboxes' ./name)}} {{#each ./versions}} {{#if (eq this ../latestVersion)}}
              <a class="navbar-item" href="{{{./url}}}"> {{{./title}}} </a>
            {{/if}} {{/each}} {{/if}} {{/each}}

            <hr class="navbar-divider">
          </div>
        </div>
        <div class="navbar-item has-dropdown is-hoverable">
          <div class="navbar-link">Repositories</div>
          <div class="navbar-dropdown">
            <a class="navbar-item" href="http://github.com/mso4sc/book.mso4sc.eu">Documentation</a>
            <a class="navbar-item" href="http://github.com/mso4sc/MSOPortal">Portal</a>
            <a class="navbar-item" href="http://github.com/mso4sc/cloudify-hpc-plugin">Cloudify</a>
            <a class="navbar-item" href="https://github.com/MSO4SC/resources">Resources</a>
            <hr class="navbar-divider">
          </div>
        </div>
        <div class="navbar-item has-dropdown is-hoverable">
          <div class="navbar-link">Community</div>
          <div class="navbar-dropdown is-right">
            <a class="navbar-item" href="https://gitter.im/mso4sc">Gitter chat (Users)</a>
          </div>
        </div>
        <img src="{{uiRootPath}}/images/eu-4.png" style="height:40px;margin:auto;"></img>
      </div>
    </div>
  </nav>
</header>
